* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: #4CAF50;
  padding: 1%;
}
header > h1 {
  color: white;
  text-align: center;
}
body {
  background-color: #303340;
}
#pointsHeader {
  margin: 3% auto;
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  width: 200px;
  color: white;
  font-size: 300%;
  padding: 15px 26px;
}
div {
  text-align: center;
}
.buttons{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 150%;
  margin: 4px 2px;
  cursor: pointer;
}

#commandText{
  color: white;
  font-size: 300%;
  text-align: center;
  position: relative;
}
#choises{
  text-align: center;
  padding: 1%;
}
#rock {
  margin: 1%;
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-radius: 20%;
}
#scissors {
  margin: 1%;
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-radius: 20%;
}
#paper {
  margin: 1%;
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-radius: 20%;
}
